*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: hsl(0, 0%, 96%);
    animation: deepak 5s ease-in-out  infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
div{
    /* background: hsl(0, 0%, 100%); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;

}
@keyframes deepak{
    0%{
        background: hsl(81, 56%, 39%);
    }
    20%{
        background: hsl(184, 77%, 35%);
    }
    40%{
        background: hsl(145, 74%, 32%);
    }
    
    60%{
        background: hsl(180, 85%, 33%);
    }
    
    80%{
        background: hsl(315, 82%, 59%);
    }
    100%{
        background: hsl(160, 100%, 13%);
    }
}